---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
            &#xE000; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} &#xE001;
          </a>
      </span>
    {% endif %}
  </div>

  {% include disqus.html %}
  <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
            <div id="gitalk-container"></div>
            <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
            <script type="text/javascript">
                var gitalk = new Gitalk({
                    clientID: 'e61b1002ca151a71d237',
                    clientSecret: 'cc2f1ac5dd020573edd6647baf3bee92503e0576',
                    id: window.location.pathname,
                    repo: 'just-some-tests-team.github.io',
                    owner: 'just-some-tests-team',
                    admin: 'just-some-tests'
                })
                gitalk.render('gitalk-container')
            </script>
</article>
